# Data Science Tools and Ecosystem

**Objectives:**
* List Popular Languages for Data Science
* List Commonly Used Libraries for Data Science
* Create a Table of Data Science Tools
* Execute Arithmetic Expressions in Python

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. SQL
2. R
3. Python
4. Scala
5. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumbPy
3. Matplotlib
4. Keras
5. TensorFlow

| Data Science Tools |
|--------------------|
| TensorFlow |
| RStudio |
| Apache Spark |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers

In [2]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60

In [8]:
minutes = 200

In [14]:
hours = minutes / 60

In [15]:
hours

3.3333333333333335

## Author
Christopher Pate